{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "targets": {
        "ie": 11,
        "browsers": "last 5 versions"
      },
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator"
  ]
}